{{ if .Site.Params.linkedinName }}
    <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank" rel="noreferrer">
        <span class="icon-linkedin" style="color:white;font-size:2em">LinkedIn</span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.githubName }}
    <a class="bloglogo" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank" rel="noreferrer">
    <span class="icon-github" style="color:white;font-size:2em">Github</span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.codepenName }}
    <a class="bloglogo" href="https://codepen.io/{{ .Site.Params.codepenName }}" target="_blank" rel="noreferrer">
    <span class="icon-codepen" style="color:white;font-size:2em">Codepen</span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.flickrName }}
    <a class="bloglogo" href="https://flickr.com/{{ .Site.Params.flickrName }}" target="_blank" rel="noreferrer">
    <span class="icon-flickr" style="color:white;font-size:2em">Flickr</span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.stackoverflowId }}
    <a class="bloglogo" href="https://stackoverflow.com/users/{{ .Site.Params.stackoverflowId }}" target="_blank" rel="noreferrer">
        <img alt="StackOverflow" src="images/stackoverflow.svg" height="40" width="40">
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.twitterName }}
    <a class="bloglogo" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank" rel="noreferrer">
        <span class="icon-twitter" style="color:white;font-size:2em">Twitter</span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.facebookName }}
    <a class="bloglogo" href="https://www.facebook.com/{{ .Site.Params.facebookName }}" target="_blank" rel="noreferrer">
        <span class="icon-facebook" style="color:white;font-size:2em">Facebook</span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.instagramName }}
<a class="bloglogo" href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank" rel="noreferrer">
    <span class="icon-instagram" style="color:white;font-size:2em">Instagram</span>
</a>
&nbsp;
{{end}}

{{ if .Site.Params.youtubeName }}
<a class="bloglogo" href="https://youtube.com/{{ .Site.Params.youtubeName }}" target="_blank" rel="noreferrer">
    <span class="icon-youtube" style="color:white;font-size:2em">Youtube</span>
</a>
&nbsp;
{{end}}

{{ if .Site.Params.email }}
    <a class="bloglogo" href="mailto:{{ .Site.Params.email }}" target="_blank" rel="noreferrer">
        <span class="icon-mail" style="color:white;font-size:2em">{{ .Site.Params.email }}</span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.pinterestName }}
    <a class="bloglogo" href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank" rel="noreferrer">
        <span class="icon-pinterest" style="color:white;font-size:2em">Pinterest</span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.googlePlusName }}
    <a class="bloglogo" href="https://google.com/+{{ .Site.Params.googlePlusName }}" target="_blank" rel="noreferrer">
        <span class="icon-google-plus" style="color:white;font-size:2em">Google+</span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.keybaseName }}
    <a class="bloglogo" href="https://keybase.io/{{ .Site.Params.keybaseName }}" target="_blank" rel="noreferrer">
        <img alt="Keybase" src="images/keybase.svg" height="40" width="40">
    </a>
&nbsp;
{{end}}
